.profile {
  max-width: 40%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
  border-radius: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2px;
}

.avatar {
  display: flex;
  max-width: 40%;
  border-radius: 50%;
  border: 5px dotted black;
}

.profileName {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 30px;
}

.profileTag,
.profileLocation {
  margin-bottom: 10px;
  font-size: 20px;
  color: #8a8b8e;
}

.stats {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.stats > li {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
  border-top: 1px solid #d3d5e3;
  background-color: rgba(241, 241, 241, 0.833);
}

.followersList {
  border-radius: 0 0 0 10px;
}

.viewsList {
  border-left: 1px solid #d3d5e3;
  border-right: 1px solid #d3d5e3;
}

.likesList {
  border-radius: 0 0 10px;
}

.label {
  padding-bottom: 10px;
  color: #8a8b8e;
}

.quantity {
  font-weight: bold;
  border-radius: 10px;
}
